/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body styling */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#191769, #3d3bb1);
}
/* wrapper styling */
.wrapper {
  width: 420px;
  border-radius: 7px;
  background: #fff;
  padding: 25px 28px 45px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.wrapper header {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}
.wrapper .search {
  position: relative;
  margin: 35px 0 18px;
}
.wrapper ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
  align-items: center;
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
  justify-content: space-between;
}
.wrapper ul {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.wrapper .info-text {
  font-size: 13px;
  color: #9a9a9a;
  margin: -3px 0 10px;
}
.info-text span {
  font-weight: 700;
}
.wrapper.active ul {
  height: 303px;
  opacity: 1;
}
.wrapper.active .info-text {
  display: none;
}
/* search styling */
.search input {
  height: 53px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 42px;
  font-size: 16px;
}
.search input::placeholder {
  color: #b8b8b8;
}
.search input:focus {
  padding: 0 41px;
  border: 2px solid #191769;
}
.search :where(i, span) {
  position: absolute;
  top: 50%;
  color: #999;
  transform: translateY(-50%);
}

.search i {
  left: 18px;
  font-size: 16px;
  pointer-events: none;
}
.search input:focus ~ i {
  color: #191769;
}
.search span {
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  display: none;
}
.search input:valid ~ span {
  display: block;
}
/* ul styling */
ul .word p {
  font-size: 22px;
  font-weight: 500;
}
ul .word span {
  font-size: 12px;
  color: #989898;
}
ul .word i {
  color: #999;
  font-size: 15px;
  cursor: pointer;
}
ul .content {
  max-height: 215px;
  overflow-y: auto;
}
ul .content::-webkit-scrollbar {
  width: 0px;
}
ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.content li .details {
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  border-left: 3px solid #191769;
}
.content li .details p {
  font-size: 17px;
  font-weight: 400;
}
.content li .details span {
  font-size: 15px;
  color: #7e7e7e;
}
.synonym .details .list {
  display: flex;
  flex-wrap: wrap;
}
.synonym .details .list span {
  background: none;
  padding: 3px 5px 3px 5px;
  border-radius: 40px;
  margin: 4px;
  border: 1px solid #f0ecec;
  font-size: 12px;
  cursor: pointer;
  
}
